version: "3.5"

services:
  api:
    build:
      context: .
    ports:
      - "5000:5000"
    volumes:
      - "$PWD:/app"
    depends_on:
      - postgres

    environment:
      POSTGRES_USER: "${POSTGRES_USER}"
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
      POSTGRES_DBS: "${POSTGRES_DBS}"
    command: ["/bin/bash"]
    stdin_open: true
    tty: true

  postgres:
    image: "postgres"
    ports:
      - "5432:5432"
    volumes:
      - "postgres_data:/var/lib/postgresql/data"
    environment:
      POSTGRES_USER: "${POSTGRES_USER}"
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
      POSTGRES_DBS: "${POSTGRES_DBS}"

volumes:
  postgres_data:
    driver: local
